@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

:root {
    --red: #ff3860;
    --red-dark: #ff1443;
    --red-darker: #c00f32;
    --red-light: #ff5c7c;
    --blue: #498afb;
    --blue-dark: #2674fa;
    --blue-light: #6ca0fc;
    --orange: #fa8142;
    --orange-dark: #f96a1f;
    --orange-light: #fb9865;
    --green: #09c372;
    --green-dark: #07a15e;
    --green-darker: #05633a;
    --green-light: #0be586;
    --purple: #9166cc;
    --purple-dark: #7d4bc3;
    --purple-light: #a481d5;
    --pink: #ff4088;
    --pink-dark: #ff1c72;
    --pink-light: #ff649e;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray5t: #0000005b;
    --gray6: #12181b;
    --gray7: #0b0d0e;
    --font-body: "sofia-pro",'Poppins',sans-serif;
    --font-head: "Tilt Neon",'Poppins', sans-serif;
    --font-code: "attribute-mono",'Poppins',monospace;

    --stone050: #fafafa;
    --stone100: #f5f5f4;
    --stone150: #EEEDEC;
    --stone200: #e7e5e4;
    --stone300: #c9c6c3;
    --stone350: #d6d3d1;
    --stone400: #a8a29e;
    --stone500: #78716c;
    --stone600: #57534e;
    --stone700: #44403c;
    --stone800: #292524;
    --stone900: #1c1917;
    --stone950: #0c0a09;
}

*,h1,h2,h3,h4,h5,p{
    font-family: var(--font-body);
}

.hoverBackround, .iconHover{
    transition: background-color 0.05s;
}

.hoverBackround:hover, .iconHover:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.iconHover{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    padding: 4px;
}

/* -------------------------------------------------------------------------- */

#mainWrapper{
    background-color: var(--purple-dark);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* ------------------------------------ - ----------------------------------- */

#sidebar{
    background-color: var(--stone200);
    border-right: 2px solid var(--stone300);
    box-shadow: 0px 0px 5px var(--stone300) inset;
    min-width: 350px;

    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    gap: 4vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
header svg{
    height: 4em;
}
h1{
    font-family: var(--font-head);
    font-size: 4em;
}


#filterWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin: 0px 30px;
}
.filter{
    background-color: var(--stone350);
    height: 80px;
    border-radius: 12px;
    box-shadow: 0px 1px 6px var(--stone300) inset;
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: background-color .3s, box-shadow .3s;
}

.filter *{
    transition: color .3s;
    transition: background-color .3s;
}

.filter:nth-child(1){
    --filterTheme: var(--blue-dark)
}
.filter:nth-child(2){
    --filterTheme: #dc2626
}
.filter:nth-child(3){
    --filterTheme: var(--stone900)
}
.filter:nth-child(4){
    --filterTheme: #eab308
}

.filter > div{
    display: flex;
    justify-content: space-between;
}
.filterTitle{
    font-size: .9em;
    font-weight: 400;
}
.filterCount{
    font-size: 1.1em;
    font-weight: 500;
}
.filterIcon{
    background-color: var(--filterTheme);
    height: 1.5em;
    width: 1.5em;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter svg{
    height: 80%;
    width: 80%;
    color: white;
}

.filter.selected{
    background-color: var(--filterTheme);
    box-shadow: 0px 1px 6px var(--stone300);
}
.filter.selected p{
    color: white;
}
.filter.selected .filterIcon{
    background-color: white;
}
.filter.selected svg{
    color: var(--filterTheme);
}

#filler{
    flex-grow: 1;
}
footer{
    font-size: 1em;
    text-align: center;
    padding: 10px 5px;
}

/* ------------------------------------ - ----------------------------------- */

#taskWrapper{
    background-color: var(--stone050);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#taskHeader{
    background-color: var(--stone200);
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
}

#taskHeader div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1.1em;
    opacity: 0.8;
    margin-right: 30px;
    padding: 5px 15px;
    border-radius: 10px;
}

#taskHeader svg{
    height: 20px;
}

/* ------------------------------------ - ----------------------------------- */

#content{
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-grow: 1;
    overflow-x: scroll;
}

.taskList{
    background-color: var(--stone150);
    box-shadow: 0px 1px 2px var(--stone400);
    border-radius: 10px;
    min-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 80vh;
    height: fit-content;
}
.listHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -8px;
}
.listHeader p{
    font-size: 1em;
    font-weight: 500;
}
.listFooter{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;

    border-radius: 5px;
    margin: -2px;
    padding: 2px;
}
.taskList svg{
    height: 20px;
}

.listContent{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: -10px;
}
.task{
    background-color: var(--stone050);
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 1px 2px var(--stone400);

    display: flex;
    gap: 10px;
    transition: outline .05s;
    outline: 3px solid rgba(0, 0, 0, 0);
    transition: opacity .3s;
}

.taskCheck{
    display: flex;
    align-items: center;
}
.taskCheck input{
    height: 20px;
    width: 20px;
}
.taskContent{
    flex-grow: 1;
}
.taskIcons{
    display: flex;  
    align-items: center;
    gap: 3px;
    opacity: .7;
}
.taskIcons p{
    font-size: 0.9em;
}
.taskEdit{
    opacity: 0;
    transition: opacity .05s;
}

.task:hover{
    outline: 3px solid var(--blue);
}
.task:hover .taskEdit{
    opacity: 1;
}

.taskCheck input:checked{
    color: #05633a;
}

.task:has(input:checked){
    text-decoration: line-through;
    opacity: 0.5;
}